.float__button {
    position:fixed;
    top:2rem;
    right: .6rem;
}
.float__button .button__icon {
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 100px;
    color: var(--color-primary)
}
.float__button.p-2 {
    top: 6rem ;
}

.menu__button {
    width: 3rem;
    height: 3rem;
    position:fixed;
    top: .6rem;
    right: .6rem;
    border-radius: 100px;
    background-color: var(--color-primary);
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
}

.menu__button .menu {
    position: relative;
    display: inline-block;
    width: 65%;
    height: .2rem;
    border-radius: 100px;
    color: #FFF;
    background-color: currentColor;
    transition: all 150ms ease-in-out;
}
.menu__button .menu::before,
.menu__button .menu::after {
    content: '';
    width: 100%;
    height: .2rem;
    border-radius: 100px;
    background-color: currentColor;
    position: absolute;
    transition: all 150ms ease-in-out;
}
.menu__button .menu::before {
    top: -.5rem;
}
.menu__button .menu::after {
    bottom: -.5rem;
}
.menu__button:hover .menu::before {
    top: -.6rem;
}
.menu__button:hover .menu::after {
    bottom: -.6rem;
}

/* .menu__button:active .menu,
.menu__button:focus .menu, */
.menu__button.active .menu{
    transform: rotate(45deg);
}
/* .menu__button:active .menu::before,
.menu__button:active .menu::after,
.menu__button:focus .menu::before,
.menu__button:focus .menu::after, */
.menu__button.active .menu::before,
.menu__button.active .menu::after {
    transform: rotate(90deg);
    bottom: 0;
    top:0;
}